@tailwind base;
@tailwind components;
@tailwind utilities;

.object-fill{
    height: 16rem;
}
.footer{
        font-family: Gilroy;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: rgba(2, 6, 12, 0.75);
}
